html{
    width: 100%;
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
    margin: 0px 0px 0px 0px;
    background-color: #e0e0e0;
}
header{
    background-color: rosybrown;
}
footer{
    background-color: rosybrown;
}
.search{
    background: url("https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg");
    height: 380px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.image{
    height: 60px;
    width: 60px;
}
#city{
    margin-left: 15%;
    margin-right: 15%;
}
.citycard{
    height: 150px;
    width: 150px;
    padding: 4%;
    border-radius: 25%;
}
.social{
    width: 22px;
    height: 20px;
}